<row class="footer-img"> 
    <columns small="12" large="6" valign="middle">
        <img class="margin_left small-float-center" src="assets/img/Big_logopdev.png" alt=""> 
    </columns>
       
    <columns small="12" large="6" valign="middle">
        <img class="margin_right small-float-center" src="assets/img/small_logopdev.png" alt="">
    </columns>
</row>
    <row class="footer-text text-center">
        <columns small="12" large="5" valign="middle">
        <h5 class="text-center">Parallel Pharmaceuticals Corporation <h5>  
        </columns>
        
        <columns small="12" large="3" valign="middle">
        <h5 class="text-center">© 2019 Paral </h5> 
        </columns>

        <columns small="6" large="2" valign="middle">
        <h5 class="text-center">5/19 </h5>    
        </columns>

        <columns small="6" large="3" valign="middle">
        <h5 class="text-center">T-AFN-1212399</h5> 
        </columns>
    </row>

